.stApp{
background:#0f172a;
}

h1{
color:#38bdf8;
text-align:center;
}

.block-container{
padding-top:2rem;
}

div[data-testid="metric-container"]{
background:#1e293b;
padding:20px;
border-radius:12px;
color:white;
}

.css-1d391kg{
background:#111827;
}

.stDataFrame{
border-radius:10px;
}