.stApp{

background:#081223;

color:white;

}

.metric{

background:#16213e;

padding:20px;

border-radius:15px;

text-align:center;

box-shadow:0px 4px 10px rgba(0,0,0,.4);

}

.predictButton>button{

background:#00C853;

color:white;

border-radius:10px;

font-size:18px;

height:55px;

width:100%;

}

h1{

text-align:center;

color:#00E5FF;

}