.stApp{

background:linear-gradient(135deg,#0f172a,#1e293b);

color:white;

}

h1,h2,h3{

color:#60a5fa;

text-align:center;

}

[data-testid="stMetricValue"]{

color:#22c55e;

font-size:30px;

}

div.stButton>button{

background:#2563eb;

color:white;

border-radius:12px;

height:50px;

font-weight:bold;

font-size:18px;

width:100%;

}

.block-container{

padding-top:2rem;

}

.css-1d391kg{

background:#111827;

}
